<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Entrar
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" class="formularios">
          <mat-form-field>
            <input matInput formControlName="email" placeholder="E-mail">
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="senha" placeholder="Senha" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>     
        </form>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/mainMenu">
          Login
        </a> <a mat-raised-button routerLink="/singUpGym">Cadastrar</a>
        <button mat-button color="primary" (click)="openRedefinirSenha()">Redefinir Senha</button>
      </mat-card-actions>
   </mat-card>      
  </mat-grid-tile>
  <mat-grid-tile>
    <!--Carousel-->
    <carousel></carousel>
  </mat-grid-tile>
</mat-grid-list>
